
volumes:
  pg_data:
  static:
  media:

services:
  postgres:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always

  backend:
    image: wurt83ow/kittygram_backend:latest
    env_file: .env
    volumes:
      - static:/app/collected_static
      - media:/app/media
    depends_on:
      - postgres
    restart: always
    command: >
      sh -c "python manage.py collectstatic --noinput &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"

  frontend:
    image: wurt83ow/kittygram_frontend:latest
    volumes:
      - static:/app/build
    restart: "no"

  gateway:
    image: wurt83ow/kittygram_gateway:latest
    volumes:
      - static:/static  # Монтируем volume static в Nginx
      - media:/media
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    restart: always
