volumes:
  pg_data:
  backend_static:
  frontend_static:
  media:

services:
  postgres:
    image: postgres:13
    container_name: postgres
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always
    networks:
      - kittygram_network

  backend:
    image: wurt83ow/kittygram_backend:latest
    container_name: backend
    env_file: .env
    volumes:
      - backend_static:/app/collected_static
      - media:/app/media
    depends_on:
      - postgres
    restart: always
    networks:
      - kittygram_network
    command: >
      sh -c "python manage.py collectstatic --noinput &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"

  frontend:
    image: wurt83ow/kittygram_frontend:latest
    container_name: frontend
    volumes:
      - frontend_static:/app/build
    restart: always
    networks:
      - kittygram_network

  gateway:
    image: wurt83ow/kittygram_gateway:latest
    container_name: gateway
    volumes:
      - backend_static:/var/html/backend
      - frontend_static:/var/html/static
      - media:/var/html/media
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    restart: always
    networks:
      - kittygram_network

networks:
  kittygram_network:
    driver: bridge